.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin-top: 92px;
  margin-bottom: 96px;
  padding: 0 50px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 12px;
  list-style: circle inside;
}

.header__links-list li::marker {
  height: 6px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.headerlink {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.headerlink_active {
  text-decoration: none;
}

.header__logo {
  position: relative;
  z-index: 2;
  display: block;
  justify-self: center;
  width: 124.05px;
  margin-left: 11.39px;
  border: 6px;
}

.header__logo-image {
  display: block;
  width: 129px;
  height: auto;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  gap: 6px;
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  word-spacing: 0;
}

.header__address a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}


.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 757px;
  justify-content: center;
  color: #fff;
  background-position: center;
  background-size: cover;
  margin-top: 46px;
  padding: 0 50px;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  
  padding: 0 0 50px 0;
}

.aligned-text {
  display: block;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  
}

.aligned-text_left {
  text-align: left;
  margin-top: 165px;
  margin-left: 50px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  align-self: flex-end;
  text-align: right;
}


.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 50px;
}

.cover__description-text {
  max-width: 700px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.lots {
  
  padding: 48px 24px;
}

.lots__heading {
  
  margin: 130px 0 24px 40px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.lots__card-list-item {
  flex: 0 0 calc((100% - 50px) / 3);
  width: 100%;
  height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  padding: 48px 40px;
  overflow: hidden;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card__title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
}

.card__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0%;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 350px 1fr;
  align-items: start;
  padding: 80px 0px;
}

.aboutlogo__column_left {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.aboutcontent__column_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 133px;
  
}

.about__title {
  align-items: center;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 120px;
  margin-bottom: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  
  padding: 0 50px 50px 50px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: flex-start;
  gap: 6px;
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  word-spacing: 0;
  
}

.footer__address a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footermenu-link {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footersocial-list-item {
  
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
